{% extends 'base.html.twig' %}

{% block body %}

  <div class="container my-5">
    <h1>{{ category.name }}</h1>
    <p> Cette catégorie contient {{ category.products|length }} produit(s).</p>

        <div class="row">
            {% for product in category.products %}
                <div class="card col-md-3 p-0 m-1">
                    <a class="link-offset-2 link-underline link-underline-opacity-0 text-dark" href="{{ path('app_product', { 'slug': product.slug }) }}">
                        <img src="/uploads/{{product.illustration}}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body text-center">
                            <strong class="card-title">{{ product.name }}</strong></br>
                            <span claas="d-block">{{ product.__getPriceWt }}</span></br>
                            <a href="#" class="btn btn-dark">Ajouter au pannier</a>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
  </div>
{% endblock %}
