{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="text-dark" href="{{ path('app_category', {'slug': product.category.slug }) }}">
                            {{ product.category.name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ product.name }}
                    </li>
                </ol>
            </nav>
            <div class="card col-md-6 p-0 m-1">
                <img src="/uploads/{{ product.illustration }}" class="card-img-top" alt="{{ product.name }}"></div>
                <div class="col-md-4 m-auto product-description">
                    <h1 class="text-center">
                        {{ product.name }}
                    </h1>
                    <p class="text-center">
                        {{ product._getPriceWt|price }}
                    </p>
                    <p class="">
                        {{ product.description|raw }}
                    </p>
                    <a href="{{ path('app_cart_add', { 'id': product.id } ) }}" class="w-100 btn btn-dark mt-4">
                        Ajouter au pannier
                    </a>
                {# <a href="{{ path('app_cart_add', 'id': product.id )}}" class="w-100 btn btn-dark mt-4">Ajouter au pannier</a> #}
                </div>
            </div>
        </div>
    {% endblock %}
    